/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);*/
@import url(normalize.css);

/*------ typographic styles ------*/
body{
	font: 14px/18px 'Roboto', Arial, Helvetica, sans-serif;
	height: 100%;
	color: #999;
	background: #f5f6f7;
	min-width: 320px;
}
a{
	color: #666;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
a:hover{
	color: #333;
}
img{
	border: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
/*------ typographic styles end ------*/

/*reset-ul*/
[class$="-list"],
[class$="-list"] ul{
	margin:0;
	list-style:none;
	border:0;
	padding:0;
	background:none;
}
/*reset-ul end*/

/*clearfix*/
.max-wrap:before,
.max-wrap:after,
.main:before,
.main:after,
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.max-wrap:after,
.main:after,
.clearfix:after{
	clear: both;
}
/*clearfix end*/

/* icons */
.icon-clear{
	background: url(../img/clear.svg) no-repeat;
	width: 20px;
	height: 20px;
}
/* icons end */

/*btn*/
[class|="btn"],
[class*=" btn-"]{
	position: relative;
	text-align: center;
	text-decoration:none;
	color: #666;
}
[class|="btn"]:hover,
[class*=" btn-"]:hover{
	color: #333;
}
/*btn-default*/
.btn-default{
	font-size: 14px;
	line-height: 16px;
	padding: 12px 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	position: relative;
}
.btn-default:hover{
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.btn-default:active{
	right: -1px;
	bottom: -1px;
}
/*btn-default end*/
/*btn end*/

/*inline-block*/
[class|="icon"],
[class*=" icon-"]{
	display:inline-block;
	vertical-align:top;
}
/*inline-block end*/

/*transition*/
.transition,
.btn-default,
.icon-clear,
.lots a.lots-item,
.lot-name,
a{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
}
.btn-push{
	-webkit-transition: text-indent 0s;
	transition: text-indent 0s;
}
/*transition end*/

/*main blocks*/
.wrapper{
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header{
	position: relative;
	z-index: 5;
}
.main{
	position: relative;
	clear: both;
	z-index: 4;
	padding: 0 0 42px;
}
.sidebar{
	float: left;
	width: 220px;
	position: relative;
	z-index: 9;
}
.content{
	margin: 0 0 0 240px;
	min-height: 50px;
}
.footer{
	position: relative;
	clear: both;
	z-index: 5;
}
.max-wrap{
	max-width: 1200px;
	margin: 0 auto;
}
/*main blocks end*/

/*header*/
.header-holder{
	padding: 20px 20px 40px;
}
/*logo*/
.logo{
	float: left;
	width: 220px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0;
	padding: 11px 0 0;
}
.logo a{
	display: block;
	background: url(../img/logo.svg) no-repeat;
	width: 155px;
	height: 27px;
}
/*logo end*/
.header .btn-push{
	float: right;
}
.header .offers{
	overflow: hidden;
	padding: 12px 15px 10px 0;
}
.header .btn-filters{
	float: right;
	background: url(../img/filter.svg) no-repeat 50% 50%;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	overflow: hidden;
	display: none;
}
/*header end*/

/*main*/
/*sidebar*/
/*filters*/
.filters{
	list-style: none;
	padding: 0;
	margin: 0;
}
.filters>li{
	border-bottom: 1px solid #dcdcdd;
	position: relative;
}
.filters>li:first-child{
	border-top: 1px solid #dcdcdd;
}
.filters>li>a{
	display: block;
	padding: 16px 20px 15px;
}
.filters>li.filter-true>a{
	padding-right: 35px;
}
.filters>li>a:hover,
.filters>li:hover>a{
	background: #e8e9ea;
}
.filters>li.disabled>a{
	color: #cacacb;
	cursor: default;
}
.filters>li.disabled>a:hover,
.filters>li.disabled:hover>a{
	background: none;
}
.filters .icon-clear{
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -12px;
	display: none;
	opacity: 0.1;
}
.filters>li:hover .icon-clear{
	opacity: 0.3;
}
.filters .filter-true .icon-clear{
	display: inline-block;
}
.filters>li .icon-clear:hover{
	opacity: 1;
}
/*filters drop*/
.filters-drop{
	position: absolute;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	left: -9999px;
	top: -9999px;
	opacity: 0;
}
.filters>li:hover>.filters-drop{
	left: 100%;
	top: -11px;
	opacity: 1;
}
.filters-drop>.drop-corner {
	width: 13px;
	height: 13px;
	position: absolute;
	left: -7px;
	top: 29px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.filter-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.filters-drop .filter-list{
	background: #fff;
	border-radius: 3px;
	position: relative;
	z-index: 3;
	padding: 19px 30px 17px 20px;
	font-size: 0;
	letter-spacing: 0;
	white-space: nowrap;
}
.filter-list>li{
	font-size: 14px;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	width: 130px;
	white-space: normal;
}
.filter-list>li a{
	display: block;
	padding: 8px 9px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
}
.filter-list>li a:hover{
	border: 1px solid #e5e5e5;
	color: #999;
}
/*filters drop end*/
/*filters end*/
/*sidebar end*/
/*content*/
/*lots*/
.lots{
	font-size: 0;
	letter-spacing: -4px;
	list-style: none;
	margin: 0;
	padding: 0 0 20px;
}
.lots>li{
	font-size: 14px;
	letter-spacing: normal;
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 20px 0;
}
.lots-item{
	display: block;
	color: #999;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	top: 0;
}
.lots-item:hover{
	color: #999;
}
.lots a.lots-item:hover{
	top: -3px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.lot-img{
	overflow: hidden;
	position: relative;
	border-radius: 3px 3px 0 0;
}
.lot-img img{
	border-radius: 3px 3px 0 0;
}
.lot-price{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	padding: 6px 10px;
}
.lot-meta{
	padding: 7px 10px 3px;
}
.lot-name{
	color: #666;
	padding: 0 0 2px;
}
.lots a.lots-item:hover .lot-name{
	color: #333;
}
.lot-info{
	list-style: none;
	padding: 0 0 2px;
	margin: 0;
}
.lot-info>li{
	display: inline-block;
	margin-right: 7px;
}
/*lots end*/
/*paging*/
.paging{
	list-style: none;
	padding: 0 0 32px;
	margin: 0;
	font-size: 0;
	letter-spacing: -4px;
}
.paging li{
	padding: 0 2px 8px 0;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	letter-spacing: normal;
	min-width: 46px;
	text-align: center;
}
.paging li>a,
.paging li>span{
	display: block;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 10px 6px;
}
.paging li>span{
	border-color: #dcdcdd;
}
.paging li>a:hover{
	border-color: #666;
	background: #fff;
}
/*paging end*/
/*content end*/
/*main end*/

/*footer*/
/*footer holder*/
.footer-holder{ padding: 15px 20px 7px; }
.copyright{
	float: left;
	width: 220px;
	padding: 0 0 8px;
}
.footer-links{
	float: left;
	list-style: none;
	padding: 0 15px 0 0;
	margin: 0;
}
.footer-links li{
	display: inline-block;
	margin: 0 17px 8px 0;
}
.footer .produce{
	float: right;
	padding: 0 0 8px;
}
/*footer holder end*/
/*footer end*/
@media only screen and (max-width: 991px){
	.header-holder {
		padding: 6px 10px 0 19px;
	}
	.header .offers{
		overflow: visible;
		float: left;
		width: 100%;
	}
	.filters-drop .filter-list{
		padding: 19px 12px 17px;
	}
	.lots>li{
		width: 50.0%;
	}
	.footer-links{
		float: right;
		padding-right: 0;
	}
	.footer-links li {
		margin: 0 0 8px 17px;
	}
	.footer .produce{
		clear: left;
	}
}
@media only screen and (max-width: 767px){
	.main{
		padding: 0;
	}
	.logo{
		width: auto;
		padding: 11px 0 0;
	}
	.logo a{
		background: url(../img/logo_mob.svg) no-repeat;
		width: 93px;
		height: 17px;
	}
	.header .offers{
		display: none;
	}
	.header .btn-push{
		float: right;
		width: 40px;
		height: 40px;
		background: url(../img/add.svg) no-repeat 50% 50%;
		text-indent: -9999px;
		overflow: hidden;
		box-shadow: none;
		padding: 0;
	}
	.header .btn-push:active{
		right: auto;
		bottom: auto;
	}
	.header .btn-filters{
		display: block;
		margin-left: 18px;
	}
	.sidebar{
		float: none;
		width: auto;
		padding: 0 10px;
	}
	.sidebar>*{
		display: none;
	}
	.filters{
		margin: 0 -10px;
	}
	.filters .icon-clear{
		top: 10px;
		margin-top: 0;
	}
	.filters>li>a{
		padding: 12px 10px;
	}
	.filters>li>a:hover, .filters>li:hover>a{
		background: none;
		color: #666;
	}
	.filters>li.disabled>a {
		color: #cacacb;
	}
	.filters-drop{
		left: auto;
		top: auto;
		opacity: 1;
		position: relative;
		box-shadow: none;
		border-radius: 0;
		display: none;
	}
	.filters>li:hover>.filters-drop {
		left: auto;
		top: auto;
		opacity: 1;
	}
	.filters-drop>.drop-corner{
		display: none !important;
	}
	.filters-drop .filter-list{
		padding: 0;
		white-space: normal;
	}
	.filter-list>li{
		display: block;
		width: auto;
	}
	.filter-list>li li{
		border-top: 1px solid #dcdcdd;
	}
	.filter-list>li a{
		padding: 12px 10px;
		border: none !important;
		color: #666 !important;
	}
	.content{
		margin-left: 0;
		padding-left: 10px;
		padding-top: 7px;
	}
	.lots>li{
		padding: 0 10px 10px 0;
	}
	.lots a.lots-item:hover {
		top: 0;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	}
	.paging{ text-align: center; }
	.paging li{
		padding-left: 1px;
		padding-right: 1px;
	}
	.footer-holder{
		padding-left: 10px;
		padding-right: 10px;
	}
	.copyright{
		float: none;
		display: block;
		text-align: center;
		width: auto;
	}
	.footer-links{
		float: none;
		text-align: center;
	}
	.footer .produce{
		float: none;
		text-align: center;
	}
}
@media only screen and (max-width: 639px){
	.lots>li{
		width: 100.0%;
	}
}